@{
    ViewData["Title"] = "Home Page";

}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/zephyr.css">
</head>

<body>

	<div class="card-container">
		<span class="pro">Condomino</span>
		<img class="round" src="@ViewBag.User.PhotoPath" alt="user" />
		<h3>@ViewBag.User.Name</h3>
		<h6>Escazú</h6>
		<p>User interface designer and <br /> front-end developer</p>
		<div class="buttons">
			<form asp-controller="Profile" asp-action="uploadPhoto" method="post" enctype="multipart/form-data">
				<button class="primary">
					Message <input type="file" name="photo" />
				</button>
				<button type="submit" class="primary ghost">
					Upload
				</button>
			</form>
		</div>
	</div>

</body>
