@import url('https://fonts.google.apis.com/css?family=Open+Sans|Roboto'); 

figcaption.blockquote-footer {
    padding: 20px;
    text-align: center; /* Centra el contenido si es necesario */
}

    figcaption.blockquote-footer {
        display: inline-block;
        border-bottom: 0.5px solid #00000020; /* Cambia el color y grosor de la línea según tus preferencias */
        padding-bottom: 10px; /* Añade espacio entre el texto y la línea */
    }

.display-1 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-image: linear-gradient(to right, #47cfd6 0%, #739bda 46%, #9078dd 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.toast {
    position: fixed;
    top: 79%; /* Ajusta la posición verticalmente según tus necesidades */
    right: 2px; /* Ajusta la posición horizontalmente según tus necesidades */
    transform: translateY(-50%);
    transition: transform 0.3s linear, opacity 0.3s ease-out;
    opacity: 1;
}

    .toast.hidden {
        /*transform: translateX(100%);  Oculta el modal hacia la derecha */
        opacity: 0;
        transition: transform 0.1s linear, opacity 0.1s ease-out;
    }


.navbar {
    background-color: #fff;
    border-radius: 20px; /* Bordes redondeados */
}

.navbar-brand {
    color: #fff; /* Cambia el color del texto del título */
}

.navbar-toggler-icon {
    background-color: #333; /* Cambia el color del ícono del botón de navegación */
}

.navbar-nav .nav-link {
    color: #333; /* Cambia el color del texto de los enlaces de navegación */
}

    .navbar-nav .nav-link:hover {
        color: #555; /* Cambia el color del texto de los enlaces de navegación al pasar el mouse */
    }

.navbar-collapse {
    justify-content: flex-end; /* Alinea los elementos a la derecha */
}


/* Agrega este estilo para mantener la tabla blanca en todo momento */
.table.table-hover tbody tr:hover {
    background-color: #fff !important;
}

.navbar {
    background-color: #fff; /* Gris muy transparente (20% de opacidad) */
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 1%;
}

.icon {
    font-size: 24px;
    color: black;
    margin: 0 10px;
}

.card-custom {
    max-height: 500px; /* Establece la altura máxima de los cards */
    overflow: visible; /* Oculta el contenido que exceda la altura máxima */
}

    .card-custom .card-img-top {
        height: 400%; /* Establece la altura de la imagen al 100% del card */
        object-fit: cover; /* Ajusta la imagen para que cubra el espacio disponible */
    }

.mini-cuadro {
    width: 60px; /* Ancho del cuadro */
    height: 60px; /* Alto del cuadro */
    background: linear-gradient(45deg, #3498db, #9b59b6); /* Gradiente azul y morado */
    border-radius: 15px; /* Bordes redondeados */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8; /* Opacidad del cuadro (ajusta según tus preferencias) */
}

ion-icon {
    color: white; /* Color del icono */
    font-size: 36px; /* Tamaño del icono (ajusta según tus preferencias) */
}

/*Iconos*/

.icon-with-glow {
  position: relative;
}

.icon-with-glow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle, transparent 10%, rgba(155, 89, 182, 0.5) 40%, rgba(155, 89, 182, 0) 70%);
  animation: glow 2s infinite;
  pointer-events: none; /* Para que no interfiera con el icono */
}

@keyframes glow {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0.2;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }
}

.content-box {
    background-color: #f5f5f5; /* Fondo blanco para el contenido */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Agrega sombra al contenedor */
}

    /* Estilos adicionales para el formulario si es necesario */
    .content-box form {
        /* Tus estilos personalizados para el formulario aquí */
    }


.option{
    margin: 1em;
    float: left;
}

.Mybutton {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

    .Mybutton:hover {
        background-color: black;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
        color: #fff;
        transform: translateY(-7px);
    }

    .Mybutton:active {
        transform: translateY(-1px);
    }